[alias]
	co = checkout
        br = branch -vv
        st = "status -s"
        diffname = "diff --name-only"

        authors = "for-each-ref  --format=' %(authorname) %09 %(refname)' --sort=authorname"
[user]
	email = david.tingdahl@zenuity.com
	name = David Tingdahl
[push]
	default = simple
[diff]
        tool = kdiff3
[github]
	user = DavidTingdahlZenuity
